section{
background-color: red;
height: 100vh;
display: grid;
grid-template-columns: repeat(4, 1fr)
}

main{
height: 200px;
background-color: aqua;
margin: 10px;
}

@media only screen and (max-width: 768px){

section{
background-color: hotpink;
grid-template-columns: repeat(3, 1fr)
}

}

@media only screen and (max-width: 500px){
section{
background-color: yellow;
grid-template-columns: repeat(2, 1fr)
}
}